<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h3>{{ contact.name }}</h3>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <img 
                [src]="contact.imageUrl"
                alt="{{ contact.name }}" 
                class="img-responsive" 
                style="max-height: 70px;">
            </div>
            <div class="btn-toolbar pull-right">
              <button class="btn btn-primary" type="button">Edit</button>
              <button class="btn btn-danger" type="button">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-12">
          <div class="row">
            <label for="email">Email: </label>
            <label>{{ contact.email }}</label>
          </div>
          <div class="row">
            <label for="phone">Phone: </label>
            <label>{{ contact.phone }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 


















